#header-nav {
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-nav {
  margin-top: 0; 
  margin-bottom: 0; 
  background-color: #ffffff; 
  border: 1px ridge;
}

hr {
  margin: auto; 
}

.row-header{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.row-content {
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.panel-menu {
  min-height: 500px;
}
